# Maven / Spring build
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Build artifacts & logs
/build/
/out/
/logs/
*.log

# Local env
.env
.env.*

# IDE / tooling
.idea/
.vscode/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.factorypath
.sts4-cache
.apt_generated

# OS noise
.DS_Store
Thumbs.db

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
!.vscode/extensions.json
